:host {
  display: flex;
  height: 100%;
  position: relative;
  border: 6px solid #d5534e;
  margin: 0;
  line-height: 1.6;
}

header {
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: white;
  letter-spacing: 6px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  width: 90%;
  max-width: 100%;
  font-size: 1.6em;
  line-height: 1.6;
}

footer {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  background: white;
  padding: 0 15px;
}

footer a {
  display: block;
  color: #d5534e;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  header {
    top: -32px;
    font-size: 36px;
  }

  h1 {
    width: auto;
    font-size: 2em;
  }

  footer {
    bottom: -15px;
    padding: 0 30px;
  }

  footer a {
    letter-spacing: 6px;
  }
}
