<header>#finhack</header>

<h1 *ngIf="(finhack$ | async) as finhack" [innerHTML]="finhack"></h1>

<footer>
  <a href="https://marciniwuc.com" target="_blank" rel="noopener">www.marciniwuc.com</a>
</footer>
