/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 750px) {
  body {
    padding: 30px;
  }
}
